<link rel="stylesheet" type="text/css" href="~/css/styles.css" />

<h1>Add a new item to @Model.GetName()</h1>

<form action='/categories/@Model.GetId()/items' method='post'>
  <input id='categoryId' name='categoryId' type='hidden' value='@Model.GetId()'>
  <label for='itemDescription'>Item description</label>
  <input id='itemDescription' name='itemDescription' type='text'>
  <label for='itemDue'>Enter due date to complete item:</label>
  <input id='itemDue' name='itemDue' type='datetime-local'>
  <button type='submit'>Add item</button>
</form>
